@model FivePSocialNetwork.Models.Technology

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Technology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.technology_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_popular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_popular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_recycleBin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_recycleBin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_dateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_dateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_dateEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_dateEdit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology_totalQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology_totalQuestion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
