@using FivePSocialNetwork.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
    int user_id = int.Parse(Request.Cookies["user_id"].Value.ToString());
    FivePSocialNetWorkEntities db = new FivePSocialNetWorkEntities();
    var id = int.Parse(TempData["id"].ToString());
    var friend = db.Users.Find(id);
    string friendLastName = friend.user_lastName;
    string friendFirstName = friend.user_firstName;

}
<style>
    .container {
        max-width: 1170px;
        margin: auto;
    }
    img {
        max-width: 100%;
    }
    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
    }
    .inbox_msg {
        clear: both;
        overflow: hidden;
    }
    .top_spac {
        margin: 20px 0 0;
    }
    .recent_heading {
        float: left;
        width: 40%;
    }
    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
    }
    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
    }
    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }
    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }
    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }
    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }
    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }
    .chat_ib h5 span {
        font-size: 13px;
        float: right;
    }
    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }
    .chat_img {
        float: left;
        width: 11%;
    }
    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }
    .chat_people {
        overflow: hidden;
        clear: both;
    }
    .chat_list {
        margin: 0;
        padding: 18px 16px 10px;
    }
    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }
    .active_chat {
        background: #ebebeb;
    }
    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }
    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }
    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }
    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }
    .received_withd_msg {
        width: 57%;
    }
    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
    }
    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }
    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }
    .sent_msg {
        float: right;
        width: 46%;
    }
    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }
    .type_msg {
        border-bottom: 1px solid #c4c4c4;
        border-left: 1px solid #c4c4c4;
        position: relative;
    }
    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }
    .messaging {
        padding: 0 0 50px 0;
    }
    .msg_history {
        height: 516px;
        overflow-y: auto;
        transform: rotate(180deg);
    }
    .scrolling-element-inside {
        transform: rotate(-180deg);
    }
    input:focus {
        outline: none !important;
    }
</style>
<div class="messaging mt-2" ng-app="myApp">
    <div class="inbox_msg" ng-controller="myCtrl">
        <div class="inbox_people">
            <div class="headind_srch">
                <div class="recent_heading">
                    <h4>Người liên hệ</h4>
                </div>
                <div class="srch_bar">
                    <div class="stylish-input-group">
                        <input type="text" class="search-bar" ng-model="txtSearch" placeholder="Tìm bạn ..">
                        <span class="input-group-addon">
                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="inbox_chat" id="listFiend">
                
            </div>
        </div>
        <div class="mesgs">
            <div class="msg_history">
                <div class="scrolling-element-inside" style="display: none" id="statusReply">
                    <img src="~/Image/Users/DangSoan.gif" style="width:30%;height:50px"/>
                </div>
                <div id="contentMsg" class="scrolling-element-inside"></div>
            </div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <form id="formMessage">
                        <input type="hidden" name="messageRecipients_id" value="@ViewBag.id"/>
                        <input type="text" id="txtMessage" ng-click="statusMessage()" name="message_content" required class="write_msg" placeholder="@(friendFirstName +" "+ friendLastName) ....." />
                        <button type="button" class="msg_send_btn" id="btnSend"><i class="far fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>
    
</div>
<script>
    //trạng thái dang chat
    $(function () {
        var chat = $.connection.chat;
        loadClient(chat)
        $.connection.hub.start().done(function () {
            $('#txtMessage').keyup(function () {
                var user_friend_id = @(ViewBag.idFriend);
                var id = @user_id;
                chat.server.message(id, user_friend_id);
            });
        });
    });
    function loadClient(chat) {
        chat.client.message = function (id, user_friend_id) {
            if (@user_id != id && @(ViewBag.idFriend) == user_friend_id) {
                let statusReply = document.getElementById('statusReply');
                statusReply.style.display = 'block';
                setTimeout(function () { statusReply.style.display = 'none' }, 2500);
            }            //debugger
            //$('#statusReply').append(
            //    5555555555
            //);
            @*if (@user_id != id && @(ViewBag.idFriend) == user_friend_id) {
                $('#contentMsg').append(
                    '<div class="incoming_msg"><div class= "incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png"> </div><div class="received_msg"><div class="received_withd_msg"><p>' + msg + '</p><span class="time_date">' + today.getHours()+ 'Giờ'+ '</span></div></div>'
                    );
            }*@
        }
    }
</script>
<script>
    

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $scope.statusMessage = function () {
            $http.get("/Message/StatusMessage?messageRecipients_id=" + @ViewBag.id)
                .then(function (response) {
                    // First function handles success
                    $scope.listUsers = response.data;
                }, function (response) {
                    // Second function handles error
                    $scope.listUsers = "Something went wrong";
                });
        }
    });
</script>
<script type="text/javascript">
    //Lưu tin nhắn
    var count = 0;
    $(document).ready(function () {
        var input = document.getElementById("txtMessage");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                var data = $("#formMessage").serialize();
                var values = input.value;
                $.ajax({
                    type: "POST",
                    url: "/Message/SaveMessage",
                    data: data,
                    beforeSend: function () {
                        $("#contentMsg").append(
                            '<div class="outgoing_msg">'
                            + '<div class= "sent_msg"><p>'
                            + values + '</p><span class="time_date" id="statusValue' + count + '"> '
                            + 'đang gửi..'
                            + '</span></div ></div >'
                        );
                        input.value = '';
                    },
                    statusCode: {
                        404: function () {
                            document.getElementById('statusValue' + count).innerHTML = '<span style="color:red;">Không gửi được!</span>';
                        }
                    },
                    complete: function () {
                        count++;
                    }
                })
            }
        });
    })

    // tin nhắn
    $(function () {

        // Proxy created on the fly
        var cus = $.connection.hubMess;

        // Declare a function on the job hub so the server can invoke it
        cus.client.displayChat = function () {
            getData5();
        };
        
        // Start the connection
        $.connection.hub.start();
        getData5();
    });

    function getData5() {
        var $tbl = $('#contentMsg');
        $.ajax({
            url: '/Message/GetMessage?id='+@id,
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $tbl.empty();
                $.each(data.listChat, function (i, model) {
                    if (@user_id == model.messageSender_id) {
                        $tbl.append
                            (
                                '<div class="outgoing_msg">'
                                + '<div class= "sent_msg"><p>'
                                + model.message_content + '</p><span class="time_date"> '
                                + model.messageRecipients_status + ' _______ "' + model.message_dateSend + '"'
                                + '</span></div ></div >'
                            );
                    }
                    else {
                        $tbl.append
                            (
                                '<div class="incoming_msg"><div class= "incoming_msg_img"> <img src="/Image/Users/' + model.messageSender_avatar +'"> </div><div class="received_msg"><div class="received_withd_msg"><p>'
                                + model.message_content + '</p><span class="time_date">'
                                + model.message_dateSend
                                + '</span></div></div>'
                            );
                    }

                });
            }
        });
    }

</script>
<script type="text/javascript">
    // tin nhắn
    $(function () {

        // Proxy created on the fly
        var cus = $.connection.listFriendInMess;

        // Declare a function on the job hub so the server can invoke it
        cus.client.displayChat = function () {
            getData8();
        };

        // Start the connection
        $.connection.hub.start();
        getData8();
    });

    function getData8() {
        var $tbl = $('#listFiend');
        $.ajax({
            url: '/Message/ListFirend',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $tbl.empty();
                $.each(data.listChat, function (i, model) {
                    if (model.message_status == false) {
                        if (model.user_statusOnline == false) {
                            if (model.hoursSend == 66) {
                                $tbl.append
                                    (
                                        '<div class="chat_list" style="background-color:#eff0f1">'
                                        + '<div class= "chat_people" >'
                                        + ' <div class="chat_img"> <img src="/Image/Users/' + model.user_avatar + '" alt="sunil"> </div>'
                                        + ' <div class="chat_ib">'
                                        + ' <h5><a href="/Message/Index?id=' + model.user_id + '">' + model.user_firstName + ' ' + model.user_lastName + '  <i class="fas fa-circle" style="font-size:6px"></i> ' + '</a> <span class="chat_date">' + model.message_dateSend + '</span></h5>'
                                        + '  <p style="font-weight:800;color:black">'
                                        + model.message
                                        + '   </p>'
                                        + '  </div>'
                                        + '  </div>'
                                        + ' </div >'
                                    );
                            }
                            else {
                                $tbl.append
                                    (
                                        '<div class="chat_list" style="background-color:#eff0f1">'
                                        + '<div class= "chat_people" >'
                                        + ' <div class="chat_img"> <img src="/Image/Users/' + model.user_avatar + '" alt="sunil"> </div>'
                                        + ' <div class="chat_ib">'
                                        + ' <h5><a href="/Message/Index?id=' + model.user_id + '">' + model.user_firstName + ' ' + model.user_lastName + '  <i class="fas fa-circle" style="font-size:6px"></i> ' + '</a> <span class="chat_date">' + model.message_dateSend + '</span></h5>'
                                        + '  <p style="font-weight:800;color:black">'
                                        + model.message + ' --- <span id="timeSendMess' + i + '">' + model.hoursSend + '</span> phút trước.'
                                        + '   </p>'
                                        + '  </div>'
                                        + '  </div>'
                                        + ' </div >'
                                    );
                                var value = model.hoursSend;
                                setInterval(function () { document.getElementById('timeSendMess' + i).innerHTML = value++; }, 60000);
                            }
                        }
                        else {
                            if (model.hoursSend == 66) {

                            }
                            else {

                            }
                            $tbl.append
                                (
                                    '<div class="chat_list" style="background-color:#eff0f1">'
                                    + '<div class= "chat_people" >'
                                    + ' <div class="chat_img"> <img src="/Image/Users/' + model.user_avatar + '" alt="sunil"> </div>'
                                    + ' <div class="chat_ib">'
                                    + ' <h5><a href="/Message/Index?id=' + model.user_id +'">' + model.user_firstName + ' ' + model.user_lastName + '  <i class="fas fa-circle" style="font-size:6px;color:#1ec72c"></i> ' + '</a> <span class="chat_date">' + model.message_dateSend + '</span></h5>'
                                    + '  <p style="font-weight:800;color:black">'
                                    + model.message + ' --- <span id="timeSendMess' + i + '">' + model.hoursSend +'</span> phút trước.'
                                    + '   </p>'
                                    + '  </div>'
                                    + '  </div>'
                                    + ' </div >'
                            );
                            var value = model.hoursSend;
                            setInterval(function () { document.getElementById('timeSendMess' + i).innerHTML = value++;  }, 60000);
                        }
                        
                    }
                    else {
                        if (model.user_statusOnline == false) {
                            if (model.hoursSend == 66) {
                                $tbl.append
                                    (
                                        '<div class="chat_list ">'
                                        + '<div class= "chat_people" >'
                                        + ' <div class="chat_img"> <img src="/Image/Users/' + model.user_avatar + '" alt="sunil"> </div>'
                                        + ' <div class="chat_ib">'
                                        + ' <h5><a href="/Message/Index?id=' + model.user_id + '">' + model.user_firstName + ' ' + model.user_lastName + ' <i class="fas fa-circle" style="font-size:6px"></i> ' + '</a> <span class="chat_date">' + model.message_dateSend + '</span></h5>'
                                        + '  <p>'
                                        + model.message
                                        + '   </p>'
                                        + '  </div>'
                                        + '  </div>'
                                        + ' </div >'
                                    );
                            }
                            else {
                                $tbl.append
                                    (
                                        '<div class="chat_list ">'
                                        + '<div class= "chat_people" >'
                                        + ' <div class="chat_img"> <img src="/Image/Users/' + model.user_avatar + '" alt="sunil"> </div>'
                                        + ' <div class="chat_ib">'
                                        + ' <h5><a href="/Message/Index?id=' + model.user_id + '">' + model.user_firstName + ' ' + model.user_lastName + ' <i class="fas fa-circle" style="font-size:6px"></i> ' + '</a> <span class="chat_date">' + model.message_dateSend + '</span></h5>'
                                        + '  <p>'
                                        + model.message + ' --- <span id="timeSendMess' + i + '">' + model.hoursSend + '</span> phút trước.'
                                        + '   </p>'
                                        + '  </div>'
                                        + '  </div>'
                                        + ' </div >'
                                    );
                                var value = model.hoursSend;
                                setInterval(function () { document.getElementById('timeSendMess' + i).innerHTML = value++; }, 60000);
                            }
                            
                        }
                        else {
                            if (model.hoursSend == 66) {
                                $tbl.append
                                    (
                                        '<div class="chat_list ">'
                                        + '<div class= "chat_people" >'
                                        + ' <div class="chat_img"> <img src="/Image/Users/' + model.user_avatar + '" alt="sunil"> </div>'
                                        + ' <div class="chat_ib">'
                                        + ' <h5><a href="/Message/Index?id=' + model.user_id + '">' + model.user_firstName + ' ' + model.user_lastName + '   <i class="fas fa-circle" style="font-size:6px;color:#1ec72c"></i> ' + '</a> <span class="chat_date">' + model.message_dateSend + '</span></h5>'
                                        + '  <p>'
                                        + model.message
                                        + '   </p>'
                                        + '  </div>'
                                        + '  </div>'
                                        + ' </div >'
                                    );
                            }
                            else {
                                $tbl.append
                                    (
                                        '<div class="chat_list ">'
                                        + '<div class= "chat_people" >'
                                        + ' <div class="chat_img"> <img src="/Image/Users/' + model.user_avatar + '" alt="sunil"> </div>'
                                        + ' <div class="chat_ib">'
                                        + ' <h5><a href="/Message/Index?id=' + model.user_id + '">' + model.user_firstName + ' ' + model.user_lastName + '   <i class="fas fa-circle" style="font-size:6px;color:#1ec72c"></i> ' + '</a> <span class="chat_date">' + model.message_dateSend + '</span></h5>'
                                        + '  <p>'
                                        + model.message + ' --- <span id="timeSendMess' + i + '">' + model.hoursSend + '</span> phút trước.'
                                        + '   </p>'
                                        + '  </div>'
                                        + '  </div>'
                                        + ' </div >'
                                    );
                                var value = model.hoursSend;
                                setInterval(function () { document.getElementById('timeSendMess' + i).innerHTML = value++; }, 60000);
                            }
                        }
                    }
                });
            }
        });
    }
</script>