@model FivePSocialNetwork.Models.Comment_Answer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment_Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.commentAnswer_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentAnswer_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentAnswer_dateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentAnswer_dateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentAnswer_dateEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentAnswer_dateEdit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentAnswer_recycleBin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentAnswer_recycleBin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentAnswer_activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentAnswer_activate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentAnswer_userStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentAnswer_userStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer.answer_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer.answer_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.commentAnswer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
