@using FivePSocialNetwork.Models;
@{
    ViewBag.Title = "IndexCenter";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
    if (Request.Cookies["user_id"] != null)
    {
        int user_id = int.Parse(Request.Cookies["user_id"].Value.ToString());
        FivePSocialNetWorkEntities db1 = new FivePSocialNetWorkEntities();

        User user = db1.Users.Find(user_id);
    }
    FivePSocialNetWorkEntities db = new FivePSocialNetWorkEntities();
}
<style>
    .scroll_text {
        height: 450px;
        overflow: auto;
        padding: 0px 15px;
    }

        .scroll_text::-webkit-scrollbar {
            width: 8px;
        }

        .scroll_text::-webkit-scrollbar-track {
            background-color: #E7E7E7
        }

        .scroll_text::-webkit-scrollbar-thumb {
            background-color: rgba(223, 86, 86, 0.69);
            border: 1px solid rgba(92, 92, 92, 0.5);
            border-radius: 10px;
        }

            .scroll_text::-webkit-scrollbar-thumb:hover {
                background-color: #000;
            }
    .ck.ck-editor__editable_inline > :last-child {
        margin-bottom: 120px;
    }

    body {
        font-family: Arial
    }
</style>
<script src="~/assets/ckeditor5/build/ckeditor.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    @*<div class="col-lg-6 col-7">
                            <h6 class="h2 text-white d-inline-block mb-0">Tất cả câu hỏi</h6>
                            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Tất cả câu hỏi</li>
                                </ol>
                            </nav>
                        </div>*@
                </div>
                <!-- Card stats -->
                <!--<div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">-->
                <!-- Card body -->
                <!--<div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Câu hỏi</h5>
                                    <span class="h2 font-weight-bold mb-0">{{Statistical.totalQuestion}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="fas fa-question"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">-->
                <!-- Card body -->
                <!--<div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Trả lời</h5>
                                    <span class="h2 font-weight-bold mb-0">{{totalQuestion.totalAnswer}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="fas fa-reply-all"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">-->
                <!-- Card body -->
                <!--<div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Công nghệ</h5>
                                    <span class="h2 font-weight-bold mb-0">{{totalQuestion.totalTechnology}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                        <i class="fab fa-react"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">-->
                <!-- Card body -->
                <!--<div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Bài viết</h5>
                                        <span class="h2 font-weight-bold mb-0">{{totalQuestion.totalPost}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="far fa-newspaper"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>-->
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">

        <div class="row">

            <div class="col-xl-9">
                @*<div class="row">
            <div class="col-xl-12">
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    <a href="@Url.Action("Hot", "Center")" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Kiếm điểm nổi tiếng nào?" data-container="body" data-animation="true">Thưởng<i class="far fa-snowflake text-danger"></i></a>
                    <a href="@Url.Action("Week","Center")" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Câu hỏi được trả lời nhiều trong tháng" data-container="body" data-animation="true">Tháng</a>
                    <a href="@Url.Action("View","Center")" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Xếp theo lượt xem cao đến thấp" data-container="body" data-animation="true">Lượt xem</a>
                    <a href="@Url.Action("Reply","Center")" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Xếp theo trả lời cao đến thấp" data-container="body" data-animation="true">Trả lời</a>
                </div>
            </div>

        </div>*@
                <div class="card">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <i class="far fa-question-circle"></i> Đặt câu hỏi</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="far fa-newspaper"></i> Đăng bài viết </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <img class="rounded-circle" width="6%" src="~/Image/Users/Man.png" alt="">
                            <a href="#" data-toggle="modal" data-target="#question">
                                <input type="text" class="form-control border-0 float-right" style="width:94%" placeholder="Cương ơi, bạn có thắc mắc gì không ?" />
                            </a>

                        </div>
                        <div class="tab-pane fade p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <img class="rounded-circle " width="6%" src="~/Image/Users/Man.png" alt="">
                            <a href="#" data-toggle="modal" data-target="#post">
                                <input type="text" class="form-control border-0 float-right" style="width:94%" placeholder="Cương ơi, bạn nghĩ gì?" />

                            </a>
                        </div>
                    </div>
                </div>
                <!-- Modal question-->
                <div class="modal fade" id="question" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Bạn có thắc mắc gì?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="">
                                    <div class="card-body">
                                        <form class="ui form" method="post">
                                            @Html.AntiForgeryToken()
                                            <div class="pl-lg-1">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group field">
                                                            <label class="form-control-label" for="input-address"><i class="fas fa-pen-alt"></i> Tiêu để câu hỏi?</label>
                                                            <input value="" name="question_title" class="form-control" placeholder="................................" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group field">
                                                            <label class="form-control-label" for="input-address"><i class="far fa-edit"></i> Chi tiết</label>
                                                            <textarea class="form-control" id="editor" name="question_content" placeholder="................................"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-address"><i class="fas fa-tags"></i> Seo</label>
                                                            <div class="ui fluid multiple search selection dropdown field">
                                                                <input name="strTagsQuestion" type="hidden">
                                                                <i class="dropdown icon"></i>
                                                                <div class="default text">Skills</div>
                                                                <div class="menu">
                                                                    <div class="item" data-value="angular">Angular</div>
                                                                    <div class="item" data-value="css">CSS</div>
                                                                    <div class="item" data-value="design">Graphic Design</div>
                                                                    <div class="item" data-value="ember">Ember</div>
                                                                    <div class="item" data-value="html">HTML</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label class="form-control-label" for="input-address"><i class="fas fa-laptop-code"></i> Công nghệ</label>

                                                        @{

                                                            List<Technology> technologies = db.Technologies.Where(n => n.technology_activate == true && n.technology_recycleBin == false).ToList();
                                                        }
                                                        <div class="form-group field">
                                                            <select class="ui fluid search dropdown" name="technologyQuestion" multiple="">
                                                                @foreach (var item in technologies)
                                                                {
                                                                    <option value="@item.technology_id">@item.technology_name</option>

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-success w-100 submit"><i class="far fa-paper-plane"></i> Đăng câu hỏi</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal post-->
                <div class="modal fade" id="post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                bài viết
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--T-->
                <style>
                    .categoryh ul li {
                        list-style-type: none;
                        float: left;
                        margin-top: 10px;
                        height: 100px;
                        width: 100px;
                    }
                    .categoryh ul li a:hover {
                        color: orangered;
                    }
                </style>
                @*<div class="row">
                    @for (var i = 0; i < 12; i++)
                    {
                        <div class="col-lg-2 mt-2">
                            <div class="card hover shadow" style="width: 100%; height: 50px">
                                <center class="mt-3">
                                    Công nghệ (10)
                                </center>
                            </div>
                        </div>
                    }
                </div>*@
                <br />

                <div>
                    <h2>Công nghệ c#</h2>
                </div>
                <style>
                    .hov:hover {
                        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
                    }
                </style>
                <div class="row">
                    @for(var i = 0; i < 15; i++)
                    {
                        <div class="col-lg-12 bg-white mt-3 hov" style="box-shadow: 0 0 5px 1px lightgrey;">
                            <a href="" class="text-dark">
                                <div style="padding: 10px">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <center>
                                                <img src="~/Image/Users/Girl.png" style="width: 70px; height: 70px; border-radius: 50px; border: 1px solid green" />
                                                <br />
                                                <center>
                                                    <b style="color: brown; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Cương Hoàng</b>
                                                </center>
                                                <div class="h7 text-muted">4<i class="fab fa-galactic-senate" style="color:orangered;font-size:28px"></i> 6<i class="fas fa-medal" style="color:yellow"></i>  1<i class="fas fa-medal" style="color:silver"></i>  7<i class="fas fa-medal" style="color:#e88d15"></i> </div>

                                            </center>
                                        </div>
                                        <div class="col-lg-10">
                                            <div style="padding: 10px">
                                                <div class="row">
                                                    <div class="col-lg-11">
                                                        <h3 class="w-100">Hạnh phúc là gì?</h3>
                                                        <p class="w-100">
                                                            Luke Skywalker was the son of Anakin Skywalker and Padmé Amidala, and the older twin brother of Leia Organa Solo. He was a Jedi Master and hero of the Galactic Civil War. A celebrated pilot and leader, Skywalker was most famous for destroying the first Death Star and prompting Darth Vader to kill Emperor Palpatine, which led to the eventual downfall of the Galactic Empire.
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <center>
                                                            <div class="font-weight-bold" style="float: right; font-size: 25px">
                                                                <div>
                                                                    <i class="fa fa-angle-up"></i>
                                                                </div>
                                                                <div class="text-warning">
                                                                    12
                                                                </div>
                                                                <div>

                                                                    <i class="fa fa-angle-down"></i>
                                                                </div>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                                <style>
                                                    .s {
                                                        font-size: 18px;
                                                    }
                                                </style>
                                                <div class="row mt-3">
                                                    <div class="col-lg-7">
                                                        <div class="s">
                                                            <i class="fa fa-thumbs-up text-primary">&nbsp;</i>12
                                                            <i class="fa fa-heart text-danger">&nbsp;</i>12
                                                            <i class="fa fa-star text-warning">&nbsp;</i>12
                                                            <b class="ml-4"><i class="fa fa-eye">&nbsp;</i>Lượt xem: </b>12
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <p style="float: right">
                                                            <b><i class="fa fa-calendar">&nbsp;</i>Đăng ngày: </b> 1/19/2020
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button class="ui red button w-100" style="font-size: 13px;"><i class="fa fa-eye">&nbsp;</i>Xem</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                <div>
                    <h2>Công nghệ java#</h2>
                </div>
                <div class="card">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Tiêu đề</th>
                                    <th scope="col" class="sort border-left" data-sort="budget">Trả lời</th>
                                    <th scope="col"> Lượt xem</th>
                                </tr>
                            </thead>
                            <tbody class="list">

                                <tr>
                                    <td scope="row">
                                        <div class="media align-items-center">
                                            <a class="mr-2">

                                                <center><i class="fa fa-chevron-up" style="font-size:200%"></i></center>
                                                <center>

                                                    ..
                                                </center>
                                                <center><i class="fa fa-chevron-down" style="font-size:200%"></i></center>


                                            </a>
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">
                                                    vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
                                                    ...
                                                </span>

                                                <div class="d-flex align-items-center">

                                                    <span class="completion mr-2">Tỉ lệ vow tốt : ..</span>
                                                    <div>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:20%"></div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                    <td class="budget border-left">
                                        <i class="fas fa-reply"></i> ..
                                    </td>
                                    <td class="budget">
                                        <i class="far fa-eye"></i> ..
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <h2>Công nghệ Php#</h2>
                </div>
                <div class="card">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Tiêu đề</th>
                                    <th scope="col" class="sort border-left" data-sort="budget">Trả lời</th>
                                    <th scope="col" class="sort" data-sort="status">Đánh giá</th>
                                    <th scope="col"> Lượt xem</th>
                                </tr>
                            </thead>
                            <tbody class="list">

                                <tr>
                                    <td scope="row">
                                        <div class="media align-items-center">
                                            <a class="mr-2">

                                                <center><i class="fa fa-chevron-up" style="font-size:200%"></i></center>
                                                <center>

                                                    ..
                                                </center>
                                                <center><i class="fa fa-chevron-down" style="font-size:200%"></i></center>


                                            </a>
                                            <div class="media-body">
                                                <div>
                                                    ...
                                                </div>
                                                <span class="name mb-0 text-sm">
                                                    ...
                                                </span>

                                                <div class="d-flex align-items-center">

                                                    <span class="completion mr-2">Tỉ lệ vow tốt : ..</span>
                                                    <div>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:20%"></div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                    <td class="budget border-left">
                                        <i class="fas fa-reply"></i> ..
                                    </td>
                                    <td class="budget">
                                        <i class="far fa-star"></i> ..
                                    </td>
                                    <td class="budget">
                                        <i class="far fa-eye"></i> ..
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Danh sách câu hỏi-->
                <div class="card gedf-card" ng-repeat="x in listQuestions">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="~/Image/Users/{{x.user_avatar}}" alt="">
                                </div>
                                <div class="ml-2">
                                    <a href="#" class="h5 m-0">{{x.user_firstName +" "+ x.user_lastName}}</a>

                                    <div class="h7 text-muted">{{x.user_vipMedal}}<i class="fab fa-galactic-senate" style="color:orangered;font-size:28px"></i> {{x.user_goldMedal}}<i class="fas fa-medal" style="color:yellow"></i>  {{x.user_silverMedal}}<i class="fas fa-medal" style="color:silver"></i> {{x.user_brozeMedal}}<i class="fas fa-medal" style="color:#e88d15"></i> </div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Xóa</a>
                                        <a class="dropdown-item" href="#">Sữa</a>
                                        <a class="dropdown-item" href="#">Ẩn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{x.question_dateCreate}}</div>
                        <a class="card-link" ng-href="/FunctionAtDetailQuestion/DetailQuestion/{{x.question_id}}">
                            <h5 class="card-title">
                                {{x.question_title}}
                            </h5>
                        </a>
                        <p class="text-body" ng-bind-html="x.question_content">
                        </p>
                        <div>
                            <span class="badge badge-primary" ng-repeat="y in listTechnologyQuestions" ng-show="y.question_id == x.question_id">{{y.technology_name}}</span>

                        </div>


                    </div>

                    <div class="card-footer">
                        <a class="card-link"><i class="fas fa-fire-alt"></i> Nổi tiếng {{x.user_popular}}</a>
                        <a class="card-link"><i class="fas fa-reply-all"></i> Trả lời {{x.question_Answer}}</a>
                        <a class="card-link"><i class="fas fa-eye"></i> Lượt xem {{x.question_view}}</a>
                    </div>
                </div>


                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xl-12 float-left">
                        phân trang
                    </div>
                </div>

            </div>
            <style>

                #chatbox {
                    width: 290px;
                    background: #fff;
                    border-radius: 6px;
                    overflow: hidden;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                }

                #friendslist {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 484px;
                }

                #topmenu {
                    height: 69px;
                    width: 100%;
                    border-bottom: 1px solid #d8dfe3;
                }

                    #topmenu span {
                        float: left;
                        width: 96px;
                        height: 70px;
                        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat;
                    }

                        #topmenu span.friends {
                            margin-bottom: -1px;
                        }

                        #topmenu span.chats {
                            background-position: -95px 25px;
                            cursor: pointer;
                        }

                            #topmenu span.chats:hover {
                                background-position: -95px -46px;
                                cursor: pointer;
                            }

                        #topmenu span.history {
                            background-position: -190px 24px;
                            cursor: pointer;
                        }

                            #topmenu span.history:hover {
                                background-position: -190px -47px;
                                cursor: pointer;
                            }

                .friend {
                    height: 89px;
                    border-bottom: 1px solid #e7ebee;
                    position: relative;
                }

                    .friend:hover {
                        background: #f1f4f6;
                        cursor: pointer;
                    }

                    .friend img {
                        width: 40px;
                        border-radius: 50%;
                        margin: 15px;
                        float: left;
                    }

                .floatingImg {
                    width: 40px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 12px;
                    border: 3px solid #fff;
                }

                .friend p {
                    padding: 15px 0 0 0;
                    float: left;
                    width: 220px;
                }

                    .friend p strong {
                        font-weight: 600;
                        font-size: 15px;
                        color: #597a96;
                    }

                    .friend p span {
                        font-size: 13px;
                        font-weight: 400;
                        color: #aab8c2;
                    }

                .friend .status {
                    background: #26c281;
                    border-radius: 50%;
                    width: 9px;
                    height: 9px;
                    position: absolute;
                    top: 31px;
                    right: 17px;
                }

                    .friend .status.away {
                        background: #ffce54;
                    }

                    .friend .status.inactive {
                        background: #eaeef0;
                    }

                #search {
                    background: #e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
                    height: 60px;
                    width: 290px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                #searchfield {
                    background: #e3e9ed;
                    margin: 21px 0 0 55px;
                    border: none;
                    padding: 0;
                    font-size: 14px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 400px;
                    color: #8198ac;
                }

                    #searchfield:focus {
                        outline: 0;
                    }

                #chatview {
                    width: 290px;
                    height: 484px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;
                    background: #fff;
                }

                #profile {
                    height: 153px;
                    overflow: hidden;
                    text-align: center;
                    color: #fff;
                }

                .p1 #profile {
                    background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat;
                }

                #profile .avatar {
                    width: 68px;
                    border: 3px solid #fff;
                    margin: 23px 0 0;
                    border-radius: 50%;
                }

                #profile p {
                    font-weight: 600;
                    font-size: 15px;
                    margin: 118px 0 -1px;
                    opacity: 0;
                    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                }

                    #profile p.animate {
                        margin-top: 97px;
                        opacity: 1;
                        -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                        -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                        -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                        -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    }

                #profile span {
                    font-weight: 400;
                    font-size: 11px;
                }

                #chat-messages {
                    opacity: 0;
                    margin-top: 30px;
                    width: 290px;
                    height: 270px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    padding-right: 20px;
                    -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                    transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                }

                    #chat-messages.animate {
                        opacity: 1;
                        margin-top: 0;
                    }

                    #chat-messages label {
                        color: #aab8c2;
                        font-weight: 600;
                        font-size: 12px;
                        text-align: center;
                        margin: 15px 0;
                        width: 290px;
                        display: block;
                    }

                    #chat-messages div.message {
                        padding: 0 0 30px 58px;
                        clear: both;
                        margin-bottom: 45px;
                    }

                        #chat-messages div.message.right {
                            padding: 0 58px 30px 0;
                            margin-right: -19px;
                            margin-left: 19px;
                        }

                    #chat-messages .message img {
                        float: left;
                        margin-left: -38px;
                        border-radius: 50%;
                        width: 30px;
                        margin-top: 12px;
                    }

                    #chat-messages div.message.right img {
                        float: right;
                        margin-left: 0;
                        margin-right: -38px;
                    }

                .message .bubble {
                    background: #f0f4f7;
                    font-size: 13px;
                    font-weight: 600;
                    padding: 12px 13px;
                    border-radius: 5px 5px 5px 0px;
                    color: #8495a3;
                    position: relative;
                    float: left;
                }

                #chat-messages div.message.right .bubble {
                    float: right;
                    border-radius: 5px 5px 0px 5px;
                }

                .bubble .corner {
                    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    left: -5px;
                    bottom: 0;
                }

                div.message.right .corner {
                    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
                    left: auto;
                    right: -5px;
                }

                .bubble span {
                    color: #aab8c2;
                    font-size: 11px;
                    position: absolute;
                    right: 0;
                    bottom: -22px;
                }

                #sendmessage {
                    height: 60px;
                    border-top: 1px solid #e7ebee;
                    position: absolute;
                    bottom: 0;
                    right: 0px;
                    width: 290px;
                    background: #fff;
                    padding-bottm: 50px;
                }

                    #sendmessage input {
                        border
                    }

                    #sendmessage input {
                        background: #fff;
                        margin: 21px 0 0 21px;
                        border: none;
                        padding: 0;
                        font-size: 14px;
                        font-family: "Open Sans", sans-serif;
                        font-weight: 400px;
                        color: #aab8c2;
                    }

                        #sendmessage input:focus {
                            outline: 0;
                        }

                    #sendmessage button {
                        background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        right: 15px;
                        top: 23px;
                        border: none;
                    }

                        #sendmessage button:hover {
                            cursor: pointer;
                            background-position: 0 0;
                        }

                        #sendmessage button:focus {
                            outline: 0;
                        }

                #close {
                    position: absolute;
                    top: 8px;
                    opacity: 0.8;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }

                    #close:hover {
                        opacity: 1;
                    }

                .cx, .cy {
                    background: #fff;
                    position: absolute;
                    width: 0px;
                    top: 15px;
                    right: 15px;
                    height: 3px;
                    -webkit-transition: all 250ms ease-in-out;
                    -moz-transition: all 250ms ease-in-out;
                    -ms-transition: all 250ms ease-in-out;
                    -o-transition: all 250ms ease-in-out;
                    transition: all 250ms ease-in-out;
                }

                    .cx.s1, .cy.s1 {
                        right: 0;
                        width: 20px;
                        -webkit-transition: all 100ms ease-out;
                        -moz-transition: all 100ms ease-out;
                        -ms-transition: all 100ms ease-out;
                        -o-transition: all 100ms ease-out;
                        transition: all 100ms ease-out;
                    }

                    .cy.s2 {
                        -ms-transform: rotate(50deg);
                        -webkit-transform: rotate(50deg);
                        transform: rotate(50deg);
                        -webkit-transition: all 100ms ease-out;
                        -moz-transition: all 100ms ease-out;
                        -ms-transition: all 100ms ease-out;
                        -o-transition: all 100ms ease-out;
                        transition: all 100ms ease-out;
                    }

                    .cy.s3 {
                        -ms-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        -webkit-transition: all 100ms ease-out;
                        -moz-transition: all 100ms ease-out;
                        -ms-transition: all 100ms ease-out;
                        -o-transition: all 100ms ease-out;
                        transition: all 100ms ease-out;
                    }

                    .cx.s1 {
                        right: 0;
                        width: 20px;
                        -webkit-transition: all 100ms ease-out;
                        -moz-transition: all 100ms ease-out;
                        -ms-transition: all 100ms ease-out;
                        -o-transition: all 100ms ease-out;
                        transition: all 100ms ease-out;
                    }

                    .cx.s2 {
                        -ms-transform: rotate(140deg);
                        -webkit-transform: rotate(140deg);
                        transform: rotate(140deg);
                        -webkit-transition: all 100ms ease-out;
                        -moz-transition: all 100ms ease-out;
                        -ms-transition: all 100ease-out;
                        -o-transition: all 100ms ease-out;
                        transition: all 100ms ease-out;
                    }

                    .cx.s3 {
                        -ms-transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                        transform: rotate(135deg);
                        -webkit-transition: all 100ease-out;
                        -moz-transition: all 100ms ease-out;
                        -ms-transition: all 100ms ease-out;
                        -o-transition: all 100ms ease-out;
                        transition: all 100ms ease-out;
                    }

                #chatview, #sendmessage {
                    overflow: hidden;
                    border-radius: 6px;
                }
            </style>
            <div class="col-xl-3">
                <div>
                    <div id="chatbox">
                        <div id="friendslist">
                            <div id="topmenu">
                                <span class="friends"></span>
                                <span class="chats"></span>
                                <span class="history"></span>
                            </div>

                            <div id="friends">
                                <div class="friend">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                    <p>
                                        <strong>Miro Badev</strong>
                                        <br />
                                        <span>mirobadev@gmail.com</span>
                                    </p>
                                    <div class="status available"></div>
                                </div>
                                <div class="friend">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                    <p>
                                        <strong>Miro Badev</strong>
                                        <br />
                                        <span>mirobadev@gmail.com</span>
                                    </p>
                                    <div class="status available"></div>
                                </div>
                                <div class="friend">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                    <p>
                                        <strong>Miro Badev</strong>
                                        <br />
                                        <span>mirobadev@gmail.com</span>
                                    </p>
                                    <div class="status available"></div>
                                </div>

                                <div class="friend">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                                    <p>
                                        <strong>Martin Joseph</strong>
                                        <span>marjoseph@gmail.com</span>
                                    </p>
                                    <div class="status away"></div>
                                </div>

                                <div class="friend">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3_copy.jpg" />
                                    <p>
                                        <strong>Tomas Kennedy</strong>
                                        <span>tomaskennedy@gmail.com</span>
                                    </p>
                                    <div class="status inactive"></div>
                                </div>

                                <div class="friend">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/4_copy.jpg" />
                                    <p>
                                        <strong>Enrique	Sutton</strong>
                                        <span>enriquesutton@gmail.com</span>
                                    </p>
                                    <div class="status inactive"></div>
                                </div>

                                <div class="friend">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/5_copy.jpg" />
                                    <p>
                                        <strong>	Darnell	Strickland</strong>
                                        <span>darnellstrickland@gmail.com</span>
                                    </p>
                                    <div class="status inactive"></div>
                                </div>

                            </div>

                        </div>

                        <div id="chatview" class="p1">
                            <div id="profile">

                                <div id="close">
                                    <div class="cy"></div>
                                    <div class="cx"></div>
                                </div>

                                <p>Miro Badev</p>
                                <span>miro@badev@gmail.com</span>
                            </div>
                            <div id="chat-messages">
                                <label>Thursday 02</label>

                                <div class="message">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                    <div class="bubble">
                                        Really cool stuff!
                                        <div class="corner"></div>
                                        <span>3 min</span>
                                    </div>
                                </div>

                                <div class="message right">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                                    <div class="bubble">
                                        Can you share a link for the tutorial?
                                        <div class="corner"></div>
                                        <span>1 min</span>
                                    </div>
                                </div>

                                <div class="message">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                    <div class="bubble">
                                        Yeah, hold on
                                        <div class="corner"></div>
                                        <span>Now</span>
                                    </div>
                                </div>

                                <div class="message right">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                                    <div class="bubble">
                                        Can you share a link for the tutorial?
                                        <div class="corner"></div>
                                        <span>1 min</span>
                                    </div>
                                </div>

                                <div class="message">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                                    <div class="bubble">
                                        Yeah, hold on
                                        <div class="corner"></div>
                                        <span>Now</span>
                                    </div>
                                </div>

                            </div>

                            <div id="sendmessage">
                                <input type="text" value="Send message..." />
                                <button id="send"></button>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <!-- Footer -->
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center  text-lg-left  text-muted">
                            &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>
<script>
    $(document).ready(function () {

        var preloadbg = document.createElement("img");
        preloadbg.src = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png";

        $("#searchfield").focus(function () {
            if ($(this).val() == "Search contacts...") {
                $(this).val("");
            }
        });
        $("#searchfield").focusout(function () {
            if ($(this).val() == "") {
                $(this).val("Search contacts...");

            }
        });

        $("#sendmessage input").focus(function () {
            if ($(this).val() == "Send message...") {
                $(this).val("");
            }
        });
        $("#sendmessage input").focusout(function () {
            if ($(this).val() == "") {
                $(this).val("Send message...");

            }
        });


        $(".friend").each(function () {
            $(this).click(function () {
                var childOffset = $(this).offset();
                var parentOffset = $(this).parent().parent().offset();
                var childTop = childOffset.top - parentOffset.top;
                var clone = $(this).find('img').eq(0).clone();
                var top = childTop + 12 + "px";

                $(clone).css({ 'top': top }).addClass("floatingImg").appendTo("#chatbox");

                setTimeout(function () { $("#profile p").addClass("animate"); $("#profile").addClass("animate"); }, 100);
                setTimeout(function () {
                    $("#chat-messages").addClass("animate");
                    $('.cx, .cy').addClass('s1');
                    setTimeout(function () { $('.cx, .cy').addClass('s2'); }, 100);
                    setTimeout(function () { $('.cx, .cy').addClass('s3'); }, 200);
                }, 150);

                $('.floatingImg').animate({
                    'width': "68px",
                    'left': '108px',
                    'top': '20px'
                }, 200);

                var name = $(this).find("p strong").html();
                var email = $(this).find("p span").html();
                $("#profile p").html(name);
                $("#profile span").html(email);

                $(".message").not(".right").find("img").attr("src", $(clone).attr("src"));
                $('#friendslist').fadeOut();
                $('#chatview').fadeIn();


                $('#close').unbind("click").click(function () {
                    $("#chat-messages, #profile, #profile p").removeClass("animate");
                    $('.cx, .cy').removeClass("s1 s2 s3");
                    $('.floatingImg').animate({
                        'width': "40px",
                        'top': top,
                        'left': '12px'
                    }, 200, function () { $('.floatingImg').remove() });

                    setTimeout(function () {
                        $('#chatview').fadeOut();
                        $('#friendslist').fadeIn();
                    }, 50);
                });

            });
        });
    });
</script>
    <script>
        var app = angular.module('myApp', ['ngSanitize']);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("/Center/QuestionsJson")
                .then(function (response) {
                    // First function handles success
                    $scope.listQuestions = response.data;
                }, function (response) {
                    // Second function handles error
                    $scope.listQuestions = "Something went wrong";
                });
            // show công nghệ
            $http.get("/Center/ListTechnologyQuestion")
                .then(function (response) {
                    // First function handles success
                    $scope.listTechnologyQuestions = response.data;
                }, function (response) {
                    // Second function handles error
                    $scope.listTechnologyQuestions = "Something went wrong";
                });
            //show thống kê
            $http.get("/Center/Statistical")
                .then(function (response) {
                    // First function handles success
                    $scope.Statistical = response.data;
                }, function (response) {
                    // Second function handles error
                    $scope.Statistical = "Something went wrong";
                });
        });
        $('.large.modal')
            .modal('show')
            ;
    </script>
    <script>
        $('.ui.dropdown')
            .dropdown({
                allowAdditions: true
            })
        $('.ui.form')
            .form({
                fields: {
                    question_title: {
                        identifier: 'question_title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Vui lòng nhập tiêu đề câu hỏi!'
                            }
                        ]
                    },
                    question_content: {
                        identifier: 'question_content',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Vui lòng nhập nội dung!'
                            },
                            {
                                type: 'minLength[15]',
                                prompt: 'Nội dung câu hỏi tối thiểu 15 ký tự!'
                            }
                        ]
                    },
                    tagsQuestion: {
                        identifier: 'tagsQuestion',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Vui lòng nhập thẻ tags!'
                            },
                            {
                                type: 'maxLength[255]',
                                prompt: 'tối thiểu 255 ký tự'
                            }
                        ]
                    },
                    technologyQuestion: {
                        identifier: 'technologyQuestion',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Vui lòng chọn công nghệ của câu hỏi!'
                            }
                        ]
                    },
                },
                inline: true,
                on: 'blur'
            })
            ;
    </script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['heading', '|', 'codeBlock', 'code', '|', 'bold', 'italic', 'Link', 'bulletedList', 'numberedList', '|', 'outdent', 'indent', '|', 'ImageUpload', 'blockQuote', 'insertTable', 'mediaEmbed', 'undo', 'redo']
            })
            .catch(error => {
                console.log(error);
            });
    </script>
