@using FivePSocialNetwork.Models;
@model User
@{
    ViewBag.Title = "PageUser";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
    FivePSocialNetWorkEntities db = new FivePSocialNetWorkEntities();
}

<div class="main-content" id="panel">
    <!-- Page content -->
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mt-3">
                <div class="card-profile">
                    <img src="~/Image/Users/coverImage.png" alt="Image placeholder" class="card-img-top">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="~/Image/Users/Man.png" class="rounded-circle" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            @if (Request.Cookies["user_id"] == null)
                            {
                                <a href="#" class="btn btn-sm btn-info  mr-4 "><i class="fas fa-user-plus"></i> Kết bạn.</a>
                                <a href="#" class="btn btn-sm btn-default float-right"><i class="fab fa-facebook-messenger"></i> Nhắn tin.</a>
                            }
                            else if (Request.Cookies["user_id"].ToString() != Model.user_id.ToString())
                            {
                                <form action="@Url.Action("AddFriend","UserManagement")" method="post">
                                    <input type="hidden" name="userResponse_id" value="@Model.user_id" />
                                    @{
                                        int user_id = int.Parse(Request.Cookies["user_id"].Value.ToString());
                                        Friend friend1 = db.Friends.FirstOrDefault(n => n.userRequest_id == user_id && n.userResponse_id == Model.user_id && n.friend_status == false);
                                        Friend friend2 = db.Friends.FirstOrDefault(n => n.userRequest_id == Model.user_id && n.userResponse_id == user_id && n.friend_status == false);
                                        Friend friend3 = db.Friends.FirstOrDefault(n => ((n.userRequest_id == Model.user_id && n.userResponse_id == user_id) ||(n.userRequest_id == user_id && n.userResponse_id == Model.user_id)) && n.friend_status == true);
                                        if (user_id == Model.user_id)
                                        {
                                            <button type="button" class="btn btn-sm btn-info ml-4 float-left"><i class="fas fa-user"></i> Tôi</button>
                                        }
                                        else if (friend1 != null)
                                        {
                                            <button type="submit" class="btn btn-sm btn-info ml-4 float-left"><i class="fas fa-user-minus"></i> Hủy lời mời</button>
                                        }
                                        else if (friend2 != null)
                                        {
                                            <button type="submit" class="btn btn-sm btn-info ml-4 float-left"><i class="fas fa-user-plus"></i> Xác nhận</button>
                                        }
                                        else if (friend3 != null)
                                        {
                                            <button type="submit" class="btn btn-sm btn-info ml-4 float-left"><i class="fas fa-user-friends"></i> Bạn bè</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-sm btn-info ml-4 float-left"><i class="fas fa-user-plus"></i> kết bạn</button>
                                        }
                                    }
                                </form>
                                <a href="@Url.Action("Index","Message", new { id = Model.user_id})" class="btn btn-sm btn-default float-right"><i class="fab fa-facebook-messenger"></i> Nhắn tin</a>
                            }
                        </div>
                    </div>
                    <div class="card-body pt-0 mt--4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center">
                                    <div>
                                        @{ 
                                            List<Friend> friends = db.Friends.Where(n => (n.userRequest_id == Model.user_id || n.userResponse_id == Model.user_id) && n.friend_status == true).ToList();
                                        }
                                        <span class="heading">@friends.Count()</span>
                                        <span class="description">Bạn bè</span>
                                    </div>
                                    <div>
                                        <span class="heading">@Model.user_popular</span>
                                        <span class="description">Nổi tiếng</span>
                                    </div>
                                    <div>
                                        <span class="heading">@(Model.user_vipMedal + Model.user_goldMedal + Model.user_silverMedal + Model.user_brozeMedal)</span>
                                        <span class="description">Huy hiệu</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="h9 text-muted">@Model.user_firstName @Model.user_lastName , @Model.user_popular<i class="fas fa-fire" style="color:red"></i></div>
                            <div class="h7 text-muted">@Model.user_vipMedal <i class="fab fa-galactic-senate" style="color:orangered;font-size:18px"></i>  &nbsp; @Model.user_goldMedal <i class="fas fa-award" style="color:yellow;font-size:11px"></i>  &nbsp; @Model.user_silverMedal <i class="fas fa-award" style="color:silver;font-size:11px"></i>&nbsp; @Model.user_brozeMedal <i class="fas fa-award" style="color:#e88d15;font-size:11px"></i> </div>
                            <div class="h5 font-weight-300">

                                <i class="ni location_pin mr-2"></i>
                                <span style="padding:1%">@Model.user_phone</span>
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i><i class="fas fa-envelope-open-text"></i>&nbsp; Email : @Model.user_email
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="far fa-calendar-alt"></i>&nbsp; Ngày sinh: @Model.user_birthday
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-mobile-alt"></i>&nbsp; Số điện thoại : @Model.user_phone
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-map-marked-alt"></i>&nbsp; Địa chỉ: @Model.user_addressRemaining , @if (Model.commune_id != null)
                                {@Model.Commune.commune_name} , @if (Model.district_id != null)
                                {@Model.District.district_name} , @if (Model.provincial_id != null)
                                {@Model.Provincial.provincial_name}

                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-venus-mars"></i>&nbsp; gới tính : @if (Model.sex_id != null)
                                {@Model.Sex_User.sex_name}

                                <span>EGPT</span>

                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fab fa-facebook-f"></i>&nbsp; Facebook: @Model.user_linkFacebook
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fab fa-github"></i>&nbsp; Github: @Model.user_linkGithub
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="fas fa-briefcase"></i>&nbsp; Sở thích công việc: @Model.user_hobbyWork
                            </div>
                            <div class="text-left">
                                <i class="ni education_hat mr-2"></i><i class="far fa-grin-hearts"></i>&nbsp; Sở thích cá nhân: @Model.user_hobby
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title">Gợi ý kết bạn</h4>
                            <div class="row">
                                <div class="col-2 mr--1">
                                    <a href="#"><i class="fas fa-info-circle"></i></a>
                                </div>
                                <div class="col-xl-10 ml--3">
                                    ...
                                </div>
                            </div>
                            <span style="font-size:28px">...</span>
                        </div>
                    </div>
                </div>
                <!--Link trung tâm-->
            </div>
            <div class="col-xl-8 order-xl-1" ng-app="myApp">
                <div class="row" ng-controller="myCtrl">
                    <div ng-repeat="x in listQuestions" class="col-lg-12 bg-white mt-3" style="box-shadow: 0 0 5px 1px lightgrey;">
                        <div style="padding: 10px">
                            <div class="row">
                                <div class="col-lg-2">
                                    <center>
                                        <div class="font-weight-bold" style="float: right; font-size: 25px">
                                            <div>
                                                <i class="fa fa-angle-up"></i>
                                            </div>
                                            <div class="text-warning">
                                                {{x.question_totalRate}}
                                            </div>
                                            <div>
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                            <div>
                                                <small style="font-size:12px">{{x.question_view}} lượt xem</small>
                                            </div>
                                            <div>
                                                <small style="font-size:12px">{{x.question_Answer}} đáp án</small>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                                <div class="col-lg-10">
                                    <div style="padding: 10px">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h2 class="w-100 text-info">
                                                    <span class="bg-info text-white" style="border-radius:5px "><small class="p-1">+{{x.question_popular}}</small></span>
                                                    <a href="#">
                                                        {{x.question_title}}
                                                    </a>
                                                </h2>
                                                <p class="w-100" ng-show="x.question_content.length > 200">
                                                    {{x.question_content.substring(0, 200)}}
                                                </p>
                                                <p class="w-100" ng-show="x.question_content.length < 200">
                                                    {{x.question_content}}
                                                </p>
                                            </div>
                                            <div class="col-lg-7 mt-3">
                                                Công nghệ :
                                                <a ng-repeat="y in listTechnologyQuestion" href="#" ng-show="y.question_id == x.question_id"> {{y.technology_name}} |</a>
                                                
                                            </div>
                                            <div class="col-lg-5">
                                                <a ng-href="/UserManagement/PageUser?id=x.user_id">
                                                    <img src="~/Image/Users/{{x.user_avatar}}" style="width: 38px; height: 38px; border-radius: 50px; border: 1px solid green" />

                                                    <b style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{x.user_firstName + x.user_lastName}}</b>
                                                    <span>{{x.user_popular}} <i class="fas fa-fire" style="color:red"></i></span>
                                                </a>
                                                <br />
                                                <span class="h7 text-muted mt--2 border-bottom">{{x.user_vipMedal}} <i class="fab fa-galactic-senate" style="color:orangered;font-size:18px"></i> &nbsp; {{x.user_goldMedal}}  <i class="fas fa-award" style="color:yellow;font-size:11px"></i> &nbsp;  {{x.user_silverMedal}} <i class="fas fa-award" style="color:silver;font-size:11px"></i> &nbsp;  {{x.user_brozeMedal}} <i class="fas fa-award" style="color:#e88d15;font-size:11px"></i> </span>
                                                <br />
                                                <span><i class="fa fa-calendar">&nbsp;</i>Đăng ngày: {{x.question_dateEdit}} </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/UserManagement/ListQuestions?user_id=@Model.user_id")
            .then(function (response) {
                // First function handles success
                $scope.listQuestions = response.data;
            }, function (response) {
                // Second function handles error
                $scope.listQuestions = "Something went wrong";
            });
        $http.get("/UserManagement/ListTechnologyQuestion")
            .then(function (response) {
                // First function handles success
                $scope.listTechnologyQuestion = response.data;
            }, function (response) {
                // Second function handles error
                    $scope.listTechnologyQuestion = "Something went wrong";
            });
    });
</script>